:root {
    height: 100%;
}

body {
    font-family: 'Open Sans' sans-serif;
    margin: 0;
    min-height: 100%;
    background: #333;
}

h1 {
    font-weight: 600;
    margin: 0 0 5px 0;
}

p {
    margin: 5px 0;
}

article {
    box-sizing: border-box;
    background: #FFF;
    margin: 5px;
}

/* For a vertical direction (column) content => justify-content */
/*
body {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    // justify-content: flex-end;
    // justify-content: center;
    // justify-content: space-between;
    // justify-content: space-around;
}
*/

/* For a horizontal direction (row) content => align-items */
/*
body {
    display: flex;
    flex-direction: row;
    // align-items: stretch;
    // align-items: flex-start;
    // align-items: flex-end;
    // align-items: center;
    // align-items: baseline;
}*/


/* Equal to align-item but applied for a only specific one child */
/*
.not-real {
    align-self: flex-end;
}
*/
